# LABORATORIO 3

LIBRERIAS

In [1]:
import pandas as pd
import sqlalchemy
from datetime import date
from datetime import timedelta

CONEXION A LA BASE DE DATOS CHINOOK

In [24]:
path = "sqlite:///chinook.db"
motorDB = sqlalchemy.create_engine(path)
conectarDB = motorDB.connect()

CONEXION A LA BASE DE DATOS NA_DW_Sale_Music

In [25]:
path2 = "sqlite:///NA_DW_Sale_Music.db"
motorDB2 = sqlalchemy.create_engine(path2)
conectarDB2 = motorDB2.connect()

#EXTRACCIÓN

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN ALBUMS

In [4]:
query_album = '''SELECT Title AS Title_Album FROM albums;'''
resultAlbums = conectarDB.execute(query_album)
df_Albums = pd.DataFrame(resultAlbums.fetchall())
df_Albums.columns = resultAlbums.keys()
print(df_Albums)

                                           Title_Album
0                For Those About To Rock We Salute You
1                                    Balls to the Wall
2                                    Restless and Wild
3                                    Let There Be Rock
4                                             Big Ones
..                                                 ...
342                             Respighi:Pines of Rome
343  Schubert: The Late String Quartets & String Qu...
344                                Monteverdi: L'Orfeo
345                              Mozart: Chamber Music
346  Koyaanisqatsi (Soundtrack from the Motion Pict...

[347 rows x 1 columns]

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN ARTISTS

In [5]:
query_artist = '''SELECT Name AS Name_Artist FROM artists;'''
result_artist = conectarDB.execute(query_artist)
df_artist = pd.DataFrame(result_artist.fetchall())
df_artist.columns = result_artist.keys()
print(df_artist)

                                           Name_Artist
0                                                AC/DC
1                                               Accept
2                                            Aerosmith
3                                    Alanis Morissette
4                                      Alice In Chains
..                                                 ...
270   Mela Tenenbaum, Pro Musica Prague & Richard Kapp
271                             Emerson String Quartet
272  C. Monteverdi, Nigel Rogers - Chiaroscuro; Lon...
273                                      Nash Ensemble
274                              Philip Glass Ensemble

[275 rows x 1 columns]

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN CUSTOMERS

In [6]:
query_customer = '''SELECT FirstName,LastName,Phone,Email 
                    FROM customers;'''
result_customer = conectarDB.execute(query_customer)
df_customer = pd.DataFrame(result_customer.fetchall())
df_customer.columns = result_customer.keys()
print(df_customer)

    FirstName      LastName                Phone                          Email
0        Luís     Gonçalves   +55 (12) 3923-5555           luisg@embraer.com.br
1      Leonie        Köhler     +49 0711 2842222          leonekohler@surfeu.de
2    François      Tremblay    +1 (514) 721-4711            ftremblay@gmail.com
3       Bjørn        Hansen      +47 22 44 22 22          bjorn.hansen@yahoo.no
4   František   Wichterlová     +420 2 4172 5555       frantisekw@jetbrains.com
5      Helena          Holý     +420 2 4177 0449                hholy@gmail.com
6      Astrid        Gruber       +43 01 5134505         astrid.gruber@apple.at
7        Daan       Peeters     +32 02 219 03 03          daan_peeters@apple.be
8        Kara       Nielsen       +453 3331 9991          kara.nielsen@jubii.dk
9     Eduardo       Martins   +55 (11) 3033-5446       eduardo@woodstock.com.br
10  Alexandre         Rocha   +55 (11) 3055-3278               alero@uol.com.br
11    Roberto       Almeida   +55 (21) 2271-7000  roberto.almeida@riotur.gov.br
12   Fernanda         Ramos   +55 (61) 3363-5547       fernadaramos4@uol.com.br
13       Mark       Philips    +1 (780) 434-4554             mphilips12@shaw.ca
14   Jennifer      Peterson    +1 (604) 688-2255            jenniferp@rogers.ca
15      Frank        Harris    +1 (650) 253-0000             fharris@google.com
16       Jack         Smith    +1 (425) 882-8080        jacksmith@microsoft.com
17   Michelle        Brooks    +1 (212) 221-3546              michelleb@aol.com
18        Tim         Goyer    +1 (408) 996-1010               tgoyer@apple.com
19        Dan        Miller    +1 (650) 644-3358            dmiller@comcast.com
20      Kathy         Chase    +1 (775) 223-7665            kachase@hotmail.com
21    Heather       Leacock    +1 (407) 999-7788             hleacock@gmail.com
22       John        Gordon    +1 (617) 522-1333         johngordon22@yahoo.com
23      Frank       Ralston    +1 (312) 332-3232             fralston@gmail.com
24     Victor       Stevens    +1 (608) 257-0597             vstevens@yahoo.com
25    Richard    Cunningham    +1 (817) 924-7272       ricunningham@hotmail.com
26    Patrick          Gray    +1 (520) 622-4200           patrick.gray@aol.com
27      Julia       Barnett    +1 (801) 531-7272            jubarnett@gmail.com
28     Robert         Brown    +1 (416) 363-8888               robbrown@shaw.ca
29     Edward       Francis    +1 (613) 234-3322            edfrancis@yachoo.ca
30     Martha          Silk    +1 (902) 450-0450           marthasilk@gmail.com
31      Aaron      Mitchell    +1 (204) 452-6452         aaronmitchell@yahoo.ca
32      Ellie      Sullivan    +1 (867) 920-2233         ellie.sullivan@shaw.ca
33       João     Fernandes   +351 (213) 466-111            jfernandes@yahoo.pt
34   Madalena       Sampaio   +351 (225) 022-448              masampaio@sapo.pt
35     Hannah     Schneider     +49 030 26550280      hannah.schneider@yahoo.de
36       Fynn    Zimmermann     +49 069 40598889           fzimmermann@yahoo.de
37     Niklas      Schröder      +49 030 2141444            nschroder@surfeu.de
38    Camille       Bernard   +33 01 49 70 65 65       camille.bernard@yahoo.fr
39  Dominique      Lefebvre   +33 01 47 42 71 71    dominiquelefebvre@gmail.com
40       Marc        Dubois   +33 04 78 30 30 30        marc.dubois@hotmail.com
41      Wyatt        Girard   +33 05 56 96 96 96          wyatt.girard@yahoo.fr
42   Isabelle       Mercier   +33 03 80 73 66 99      isabelle_mercier@apple.fr
43      Terhi    Hämäläinen     +358 09 870 2000      terhi.hamalainen@apple.fi
44   Ladislav        Kovács                 None       ladislav_kovacs@apple.hu
45       Hugh      O'Reilly      +353 01 6792424           hughoreilly@apple.ie
46      Lucas       Mancini      +39 06 39733434         lucas.mancini@yahoo.it
47   Johannes  Van der Berg      +31 020 6223130        johavanderberg@yahoo.nl
48  Stanisław        Wójcik     +48 22 828 37 39         stanisław.wójcik@wp.pl
49    Enrique         Muñoz      +34 914 454 454         enrique_munoz@yahoo.es
50     Joakim     Johansson     +46 08-651 52 52      joakim.johansson@yahoo.se
51       Emma         Jones    +44 020 7707 0707         emma_jones@hotmail.com
52       Phil        Hughes    +44 020 7976 5722          phil.hughes@gmail.com
53      Steve        Murray    +44 0131 315 3300          steve.murray@yahoo.uk
54       Mark        Taylor   +61 (02) 9332 3633           mark.taylor@yahoo.au
55      Diego     Gutiérrez  +54 (0)11 4311 4333       diego.gutierrez@yahoo.ar
56       Luis         Rojas    +56 (0)2 635 4444             luisrojas@yahoo.cl
57      Manoj        Pareek    +91 0124 39883988        manoj.pareek@rediff.com
58       Puja    Srivastava     +91 080 22289999       puja_srivastava@yahoo.in

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN INVOICE_ITEMS

In [7]:
query_invoicesItems = '''SELECT UnitPrice,Quantity FROM invoice_items;'''
result_invoicesItems = conectarDB.execute(query_invoicesItems)
df_invoicesItems = pd.DataFrame(result_invoicesItems.fetchall())
df_invoicesItems.columns = result_invoicesItems.keys()
print(df_invoicesItems)

      UnitPrice  Quantity
0          0.99         1
1          0.99         1
2          0.99         1
3          0.99         1
4          0.99         1
...         ...       ...
2235       0.99         1
2236       0.99         1
2237       0.99         1
2238       0.99         1
2239       1.99         1

[2240 rows x 2 columns]

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN LOCATION

In [8]:
query_location = '''SELECT c.Address AS BillingAddress,
                        c.City AS BillingCity,
                        c.Country AS BillingCountry,
                        s.States AS BillingState
                    FROM customers c
                    INNER JOIN State  s ON s.id_customers = c.CustomerId;'''
result_location = conectarDB.execute(query_location)
df_location = pd.DataFrame(result_location.fetchall())
df_location.columns = result_location.keys()
print(df_location)

                              BillingAddress  ...              BillingState
0            Av. Brigadeiro Faria Lima, 2170  ...                 São Paulo
1                    Theodor-Heuss-Straße 34  ...          Baden-Wurtemberg
2                          1498 rue Bélanger  ...                    Quebec
3                           Ullevålsveien 14  ...                  Akershus
4                              Klanova 9/506  ...                 austriaca
5                              Rilská 3174/6  ...                 austriaca
6       Rotenturmstraße 4, 1010 Innere Stadt  ...                  Federado
7                            Grétrystraat 63  ...                   Brussel
8                        Sønder Boulevard 51  ...               Hovedstaden
9                  Rua Dr. Falcão Filho, 155  ...                 São Paulo
10                        Av. Paulista, 2022  ...                 São Paulo
11                          Praça Pio X, 119  ...            Rio de Janeiro
12                              Qe 7 Bloco G  ...          Distrito Federal
13                            8210 111 ST NW  ...                   Alberta
14                       700 W Pender Street  ...        Columbia Brit nica
15                 1600 Amphitheatre Parkway  ...                California
16                           1 Microsoft Way  ...                Washington
17                              627 Broadway  ...                  New York
18                           1 Infinite Loop  ...                California
19                      541 Del Medio Avenue  ...                California
20                          801 W 4th Street  ...                    Nevada
21                          120 S Orange Ave  ...                   Florida
22                           69 Salem Street  ...             Massachusetts
23                     162 E Superior Street  ...                  Illinois
24                     319 N. Frances Street  ...                 Wisconsin
25                       2211 W Berry Street  ...                     Texas
26                           1033 N Park Ave  ...                   Arizona
27                               302 S 700 E  ...                      Utah
28                    796 Dundas Street West  ...                   Ontario
29                          230 Elgin Street  ...                   Ontario
30                     194A Chain Lake Drive  ...             Nueva Escocia
31                        696 Osborne Street  ...                  Manitoba
32                            5112 48 Street  ...  Territorios del Noroeste
33                        Rua da Assunção 53  ...              Tarraconense
34  Rua dos Campeões Europeus de Viena, 4350  ...                    Oporto
35                        Tauentzienstraße 8  ...                   Berlins
36                          Berger Straße 10  ...                     Hesse
37                       Barbarossastraße 19  ...                   Berlins
38                             4, Rue Milton  ...           Isla de Francia
39                            8, Rue Hanovre  ...           Isla de Francia
40                       11, Place Bellecour  ...     Auvernia R¢dano Alpes
41                    9, Place Louis Barthou  ...                   Gironda
42                          68, Rue Jouvence  ...            Borgoña Franco
43                           Porthaninkatu 9  ...             GranÿHelsinki
44                         Erzsébet krt. 58.  ...                      Otan
45                          3 Chatham Street  ...                 New Delhi
46                    Via Degli Scipioni, 43  ...                      Roma
47                     Lijnbaansgracht 120bg  ...             Noord Holland
48                              Ordynacka 10  ...                   Mazovia
49                        C/ San Bernardo 85  ...                    Madrid
50                               Celsiusg. 9  ...                Estocolmoÿ
51                         202 Hoxton Street  ...              Gran Londres
52                              113 Lupus St  ...              Gran Londres
53                            110 Raeburn Pl  ...              Gran Londres
54                         421 Bourke Street  ...       Nueva Gales del Sur
55                        307 Macacha Güemes  ...              Buenos Aires
56                           Calle Lira, 198  ...             Gran Santiago
57                       12,Community Centre  ...                     Delhi
58                         3,Raj Bhavan Road  ...                 Karnataka

[59 rows x 4 columns]

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN PLAYLIST

In [31]:
query_playlist = '''SELECT Name 
               FROM playlists;'''
result_playlist = conectarDB.execute(query_playlist)
df_playlist = pd.DataFrame(result_playlist.fetchall())
df_playlist.columns = result_playlist.keys()
print(df_playlist)

                          Name
0                        Music
1                       Movies
2                     TV Shows
3                   Audiobooks
4                   90’s Music
5                   Audiobooks
6                       Movies
7                        Music
8                 Music Videos
9                     TV Shows
10             Brazilian Music
11                   Classical
12   Classical 101 - Deep Cuts
13  Classical 101 - Next Steps
14  Classical 101 - The Basics
15                      Grunge
16         Heavy Metal Classic
17                 On-The-Go 1

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN TRACK

In [10]:
query_track = '''SELECT T.Name AS Name_Track,
                    M.Name AS MediaType,
                    G.Name AS Genre,
                    T.Composer,
                    T.Milliseconds,
                    T.Bytes,
                    T.UnitPrice
                FROM tracks T
                    INNER JOIN
                    media_types M ON M.MediaTypeId = T.MediaTypeId
                    INNER JOIN
                    genres G ON G.GenreId = T.GenreId;'''
result_track = conectarDB.execute(query_track)
df_track = pd.DataFrame(result_track.fetchall())
df_track.columns = result_track.keys()
print(df_track)

                                             Name_Track  ... UnitPrice
0               For Those About To Rock (We Salute You)  ...      0.99
1                                     Balls to the Wall  ...      0.99
2                                       Fast As a Shark  ...      0.99
3                                     Restless and Wild  ...      0.99
4                                  Princess of the Dawn  ...      0.99
...                                                 ...  ...       ...
3498  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...  ...      0.99
3499  String Quartet No. 12 in C Minor, D. 703 "Quar...  ...      0.99
3500               L'orfeo, Act 3, Sinfonia (Orchestra)  ...      0.99
3501  Quintet for Horn, Violin, 2 Violas, and Cello ...  ...      0.99
3502  Die Zauberflöte, K.620: "Der Hölle Rache Kocht...  ...      0.99

[3503 rows x 7 columns]

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN TIEMPO

In [11]:
date = pd.date_range('2009-01-01','2013-12-30',freq='D').to_series()
dates = pd.to_datetime(date) 
day = dates.dt.day
month = dates.dt.month
year = dates.dt.year
quarter = dates.dt.quarter
week = dates.dt.week
weekday = dates.dt.weekday
day_name = dates.dt.day_name()
month_name = dates.dt.month_name()
    
df_date = pd.DataFrame({'Date':list(dates),'Day':list(day),'Month':list(month),'Year':list(year),'Quarter':list(quarter),'Week':list(week),'Weekday':list(weekday),'Name_Day':list(day_name),'Name_Month':list(month_name)})
print(df_date)

           Date  Day  Month  Year  Quarter  Week  Weekday  Name_Day Name_Month
0    2009-01-01    1      1  2009        1     1        3  Thursday    January
1    2009-01-02    2      1  2009        1     1        4    Friday    January
2    2009-01-03    3      1  2009        1     1        5  Saturday    January
3    2009-01-04    4      1  2009        1     1        6    Sunday    January
4    2009-01-05    5      1  2009        1     2        0    Monday    January
...         ...  ...    ...   ...      ...   ...      ...       ...        ...
1820 2013-12-26   26     12  2013        4    52        3  Thursday   December
1821 2013-12-27   27     12  2013        4    52        4    Friday   December
1822 2013-12-28   28     12  2013        4    52        5  Saturday   December
1823 2013-12-29   29     12  2013        4    52        6    Sunday   December
1824 2013-12-30   30     12  2013        4     1        0    Monday   December

[1825 rows x 9 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  import sys

EXTRACCION DE LOS DATOS DE LA DIMENSIÓN DE HECHO

In [12]:
query_hecho = '''SELECT INV.InvoiceLineId AS InvoiceLineId,
                C.CustomerId AS CustomerId,
                I.InvoiceId AS TimeId,
                I.InvoiceId AS LocationId,
                T.TrackId,
                PL.PlaylistId AS PlaylistId,
                AR.ArtistId AS ArtistId,
                A.AlbumId AS AlbumId,
                I.Total
            FROM employees E
                INNER JOIN customers C ON C.SupportRepId = E.EmployeeId
                INNER JOIN invoices I ON I.CustomerId = C.CustomerId
                INNER JOIN invoice_items INV ON INV.InvoiceId = I.InvoiceId
                INNER JOIN tracks T ON T.TrackId = INV.TrackId
                INNER JOIN playlist_track P ON P.TrackId = T.TrackId
                INNER JOIN playlists PL ON PL.PlaylistId = P.PlaylistId
                INNER JOIN albums A ON A.AlbumId = T.AlbumId
                INNER JOIN artists AR ON AR.ArtistId = A.ArtistId
                GROUP BY INV.InvoiceLineId'''
result_hecho  = conectarDB.execute(query_hecho )
df_hecho  = pd.DataFrame(result_hecho .fetchall())
df_hecho .columns = result_hecho .keys()
print(df_hecho )

      InvoiceLineId  CustomerId  TimeId  ...  ArtistId  AlbumId  Total
0                 1           2       1  ...         2        2   1.98
1                 2           2       1  ...         2        3   1.98
2                 3           4       2  ...         1        1   3.96
3                 4           4       2  ...         1        1   3.96
4                 5           4       2  ...         1        1   3.96
...             ...         ...     ...  ...       ...      ...    ...
2235           2236          44     411  ...       100      141  13.86
2236           2237          44     411  ...       100      141  13.86
2237           2238          44     411  ...       155      248  13.86
2238           2239          44     411  ...       155      248  13.86
2239           2240          58     412  ...       156      249   1.99

[2240 rows x 9 columns]

# **TRASFORMACIÓN**

TRANSFORMACIÓN DE LOS DATOS CUSTUMER (LIMPIEZA DE DATOS)

In [13]:
 df_customer = df_customer.fillna({"FirstName": "NA","LastName": "NA","Phone":"9999999999","Email":"NA"})
 print(df_customer)

    FirstName      LastName                Phone                          Email
0        Luís     Gonçalves   +55 (12) 3923-5555           luisg@embraer.com.br
1      Leonie        Köhler     +49 0711 2842222          leonekohler@surfeu.de
2    François      Tremblay    +1 (514) 721-4711            ftremblay@gmail.com
3       Bjørn        Hansen      +47 22 44 22 22          bjorn.hansen@yahoo.no
4   František   Wichterlová     +420 2 4172 5555       frantisekw@jetbrains.com
5      Helena          Holý     +420 2 4177 0449                hholy@gmail.com
6      Astrid        Gruber       +43 01 5134505         astrid.gruber@apple.at
7        Daan       Peeters     +32 02 219 03 03          daan_peeters@apple.be
8        Kara       Nielsen       +453 3331 9991          kara.nielsen@jubii.dk
9     Eduardo       Martins   +55 (11) 3033-5446       eduardo@woodstock.com.br
10  Alexandre         Rocha   +55 (11) 3055-3278               alero@uol.com.br
11    Roberto       Almeida   +55 (21) 2271-7000  roberto.almeida@riotur.gov.br
12   Fernanda         Ramos   +55 (61) 3363-5547       fernadaramos4@uol.com.br
13       Mark       Philips    +1 (780) 434-4554             mphilips12@shaw.ca
14   Jennifer      Peterson    +1 (604) 688-2255            jenniferp@rogers.ca
15      Frank        Harris    +1 (650) 253-0000             fharris@google.com
16       Jack         Smith    +1 (425) 882-8080        jacksmith@microsoft.com
17   Michelle        Brooks    +1 (212) 221-3546              michelleb@aol.com
18        Tim         Goyer    +1 (408) 996-1010               tgoyer@apple.com
19        Dan        Miller    +1 (650) 644-3358            dmiller@comcast.com
20      Kathy         Chase    +1 (775) 223-7665            kachase@hotmail.com
21    Heather       Leacock    +1 (407) 999-7788             hleacock@gmail.com
22       John        Gordon    +1 (617) 522-1333         johngordon22@yahoo.com
23      Frank       Ralston    +1 (312) 332-3232             fralston@gmail.com
24     Victor       Stevens    +1 (608) 257-0597             vstevens@yahoo.com
25    Richard    Cunningham    +1 (817) 924-7272       ricunningham@hotmail.com
26    Patrick          Gray    +1 (520) 622-4200           patrick.gray@aol.com
27      Julia       Barnett    +1 (801) 531-7272            jubarnett@gmail.com
28     Robert         Brown    +1 (416) 363-8888               robbrown@shaw.ca
29     Edward       Francis    +1 (613) 234-3322            edfrancis@yachoo.ca
30     Martha          Silk    +1 (902) 450-0450           marthasilk@gmail.com
31      Aaron      Mitchell    +1 (204) 452-6452         aaronmitchell@yahoo.ca
32      Ellie      Sullivan    +1 (867) 920-2233         ellie.sullivan@shaw.ca
33       João     Fernandes   +351 (213) 466-111            jfernandes@yahoo.pt
34   Madalena       Sampaio   +351 (225) 022-448              masampaio@sapo.pt
35     Hannah     Schneider     +49 030 26550280      hannah.schneider@yahoo.de
36       Fynn    Zimmermann     +49 069 40598889           fzimmermann@yahoo.de
37     Niklas      Schröder      +49 030 2141444            nschroder@surfeu.de
38    Camille       Bernard   +33 01 49 70 65 65       camille.bernard@yahoo.fr
39  Dominique      Lefebvre   +33 01 47 42 71 71    dominiquelefebvre@gmail.com
40       Marc        Dubois   +33 04 78 30 30 30        marc.dubois@hotmail.com
41      Wyatt        Girard   +33 05 56 96 96 96          wyatt.girard@yahoo.fr
42   Isabelle       Mercier   +33 03 80 73 66 99      isabelle_mercier@apple.fr
43      Terhi    Hämäläinen     +358 09 870 2000      terhi.hamalainen@apple.fi
44   Ladislav        Kovács           9999999999       ladislav_kovacs@apple.hu
45       Hugh      O'Reilly      +353 01 6792424           hughoreilly@apple.ie
46      Lucas       Mancini      +39 06 39733434         lucas.mancini@yahoo.it
47   Johannes  Van der Berg      +31 020 6223130        johavanderberg@yahoo.nl
48  Stanisław        Wójcik     +48 22 828 37 39         stanisław.wójcik@wp.pl
49    Enrique         Muñoz      +34 914 454 454         enrique_munoz@yahoo.es
50     Joakim     Johansson     +46 08-651 52 52      joakim.johansson@yahoo.se
51       Emma         Jones    +44 020 7707 0707         emma_jones@hotmail.com
52       Phil        Hughes    +44 020 7976 5722          phil.hughes@gmail.com
53      Steve        Murray    +44 0131 315 3300          steve.murray@yahoo.uk
54       Mark        Taylor   +61 (02) 9332 3633           mark.taylor@yahoo.au
55      Diego     Gutiérrez  +54 (0)11 4311 4333       diego.gutierrez@yahoo.ar
56       Luis         Rojas    +56 (0)2 635 4444             luisrojas@yahoo.cl
57      Manoj        Pareek    +91 0124 39883988        manoj.pareek@rediff.com
58       Puja    Srivastava     +91 080 22289999       puja_srivastava@yahoo.in


TRANSFORMACIÓN DE LOS DATOS LOCATION (LIMPIEZA DE DATOS)

In [14]:
df_track = df_track.fillna({"Composer": "NA"})
print(df_track)

                                             Name_Track  ... UnitPrice
0               For Those About To Rock (We Salute You)  ...      0.99
1                                     Balls to the Wall  ...      0.99
2                                       Fast As a Shark  ...      0.99
3                                     Restless and Wild  ...      0.99
4                                  Princess of the Dawn  ...      0.99
...                                                 ...  ...       ...
3498  Pini Di Roma (Pinien Von Rom) \ I Pini Della V...  ...      0.99
3499  String Quartet No. 12 in C Minor, D. 703 "Quar...  ...      0.99
3500               L'orfeo, Act 3, Sinfonia (Orchestra)  ...      0.99
3501  Quintet for Horn, Violin, 2 Violas, and Cello ...  ...      0.99
3502  Die Zauberflöte, K.620: "Der Hölle Rache Kocht...  ...      0.99

[3503 rows x 7 columns]

#**CARGA DE DATOS AL DATA MART**

FUNCION DE LA CARGA DE DATOS

In [21]:
def cargar_datos_a_sql(datos, connectar, tabla_Nombre):

    datos.to_sql(tabla_Nombre, connectar, if_exists='append', index=False)
    termino = print("Carga Finalizada")
    conectarDB2.close()
    return termino

CARGA DE DATOS ALBUMS

In [16]:
tabla_nombre = "dim_albums"
cargar_datos_a_sql(df_Albums, conectarDB2, tabla_nombre)
conectarDB2.close()

Carga Finalizada

CARGA DE DATOS  ARTISTS

In [26]:
tabla_nombre = "dim_artists"
cargar_datos_a_sql(df_artist, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS CUSTOMER

In [27]:
tabla_nombre = "dim_customers"
cargar_datos_a_sql(df_customer, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS INVOICES_ITEMS

In [28]:
tabla_nombre = "dim_invoice_items"
cargar_datos_a_sql(df_invoicesItems, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS LOCATION

In [29]:
tabla_nombre = "dim_location"
cargar_datos_a_sql(df_location, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS PLAYLIST

In [32]:
tabla_nombre = "dim_playlists"
cargar_datos_a_sql(df_playlist, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS TRACK

In [33]:
tabla_nombre = "dim_tracks"
cargar_datos_a_sql(df_track, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS TIME

In [34]:
tabla_nombre = "dim_time"
cargar_datos_a_sql(df_date, conectarDB2, tabla_nombre)

Carga Finalizada

CARGA DE DATOS HECHO

In [35]:
tabla_nombre = "Fact_invoice_item"
cargar_datos_a_sql(df_hecho, conectarDB2, tabla_nombre)

Carga Finalizada